*{
    background-color: black;
    color: white;
}

.cabecalho img{
    height: 5em;
}

.cabecalho{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.cabecalho__nav{
    display: flex;
    gap: 50px;
}
a{
    text-decoration: none;
}
a:hover{
    cursor: pointer;
}