.footer {
  background-color: var(--background-color) !important;
  color: var(--text-color) !important;
  padding: 2rem 0;
  text-align: center;
  border-top: 1px solid var(--text-color);
}
.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 1rem;
}
