<div id="meuCarrossel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="info-bloco">
        <h2>Sobre o Projeto</h2>
        <p>Este projeto foi desenvolvido como uma demonstração das capacidades do Angular, um framework poderoso para a construção de aplicações web modernas. Através dele, buscamos explorar conceitos como modularidade, componentes reutilizáveis e a integração de APIs. Este projeto serve como um ponto de partida para desenvolvedores que desejam aprender e aplicar as melhores práticas de desenvolvimento frontend.</p>
      </div>
    </div>
    <div class="carousel-item">
      <div class="info-bloco">
        <h2>O que é o Angular?</h2>
        <p>O Angular é um framework de desenvolvimento para criar aplicações web dinâmicas e robustas. Ele utiliza uma arquitetura baseada em componentes, permitindo uma melhor organização e reutilização de código.</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#meuCarrossel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#meuCarrossel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>