
.carousel-item {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  opacity: 0;
  transition: transform 0.3s;
}

.carousel-item.active {
  opacity: 1;
}

.info-bloco {
  padding: 1rem;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 600px;
  margin: auto;
}