:root {
  --background-color: #121212;
  --text-color: #ffffff;
  --primary-color: #bb86fc;
  --secondary-color: #03dac6;
  --error-color: #cf6679;
  --footer-bg: #333;
}

.light-theme {
  --background-color: #ffffff;
  --text-color: #000000;
  --primary-color: #6200ee;
  --secondary-color: #03dac6;
  --error-color: #b00020;
  --footer-bg: #ffffff;
}

body {
  background-color: var(--background-color) !important;
  color: var(--text-color) !important;
  transition: all 0.3s ease;
}

* {
  padding: 0;
  margin: 0;
  background-color: var(--background-color) !important;
  color: var(--text-color) !important;
  transition: all 0.3s ease;
}

h1, h2, h3, h4, h5, h6, p, span, a {
  color: var(--text-color) !important;
}